<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div>
        A game for
        <div class="dropping-texts">
          <div>Developers</div>
          <div>Designers</div>
          <div>Coders</div>
          <div>EVERYONE!</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      askjhaskdh=
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 40px;">
      <a href="/game" class="btn btn-outline-primary btn-lg">Let's Play </a>
      <br>
    </div>
  </div>
</div>
