@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');
.outliner {
  margin:0px;
  text-align:center;
  padding-top:43vh;
  color:#fff;
  font-family:'Roboto';
  font-size:36px;
  font-weight:100;
  overflow:hidden;
  animation:bg 5s linear infinite;
}

.container {
  text-align: center;
  padding: 7rem;
  font-size: 25px;
}
