<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Welcome to the Landing Page</h1>
      <p>This is a simple landing page for our application.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>A simple game</h2>
      <p>display your skills candidate.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="padding: 40px;">
      <a href="/game" class="btn btn-primary">Let's Play </a>
      <br>
    </div>
  </div>
</div>
