.container {
  padding: 20px;
}

.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 700px;
  margin-bottom: 3rem;
}

.card {
  &-text{
    font-size: large;
    color: black;
  }
}
